@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
.circle {
    position: absolute;
    height: 100;
    top: 90;
    width: 100;
    background-color: blue;
    border-radius: 50%;
    left: 325;
    width: "80";
    height: "110";
}
p10 {
    position: absolute;
    top: 349px;
    left: 622px;
    font-size: 9px;
    color: #002e58;
    opacity: 0.5;
}
p11 {
    position: absolute;
    top: 409px;
    font-size: 9;
    left: 623px;
    color: #002e58;
    opacity: 0.5;
}
p12 {
     position: absolute;
    top: 350px;
    left: 687px;
    color: #002e58;
    font-size: 9px;
    opacity: 0.5;
}
p19 {
    position: absolute;
    top: 635px;
    left: 626px;
    color: #002e58;
    font-size: 9;
    opacity: 0.5;
}
p13 {
    position: absolute;
    top: 409px;
    left: 688px;
    font-size: 9;
    opacity: 0.5;
    color: #002e58;
}
p15 {
    position: absolute;
    top: 350px;
    left: 962px;
    font-size: 9px;
    color: #002e58;
    opacity: 0.5;
}
h5  {
    position: absolute;
    top: 524px;
    left: 600;
    font-size: 20px;
    font-family: Times New Roman;
    color: #002e58;
    font-weight: bold;
}
p20 {
    position: absolute;
    top: 469px;
    font-size: 9;
    left: 689px;
    opacity: 0.5;
    color: #002e58;
}
p14 {
    position: absolute;
    top: 470px;
    font-size: 9;
    left: 622px;
    color: #002e58;
    opacity: 0.5;
}
p17 {
    position: absolute;
    top: 410px;
    left: 963px;
    font-size: 9;
    opacity: 0.5;
    color: #002e58;
}
p16 {
    position: absolute;
    top: 471px;
    font-size: 9;
    left: 963px;
    color: #002e58;
    opacity: 0.5;
}
h1 {
    position: absolute;
    left: 600;
    top: 55;
    font-size: 20px;
    font-family: Times New Roman;
    color: #002e58;
    font-weight: bold;
}
h2 {
    position: absolute;
    top: 200;
    color: #002e58;
    font-family: Times New Roman;
    font-size: 18px;
    font-weight: bold;
    left: 337px;
}
h3 {
    position: absolute;
    top: 250px;
    color: #002e58;
    font-size: 10px;
    left: 334px;
    right: 800px;
}
p1 {
    position: absolute;
    left: 600;
    right: 156px;
    top: 115px;
    font-size: 15px;
    color: #002e58;
}
p18 {
    position: absolute;
    top: 630px;
    font-size: 9;
    left: 963px;
    color: #002e58;
    opacity: 0.5;
}
.map {
    position: absolute;
    top: 366px;
    left: 315px;
    width: 8;
    opacity: 0.5;
    height: 7px;
}
.mail {
    position: absolute;
    top: 325px;
    left: 317px;
    width: 10px;
    height: 10px;
}
p2 {
    position: absolute;
    top: 359px;
    left: 328px;
    right: 400px;
    font-size: 13px;
    color: #002e58;
}
p3 {
    position: absolute;
    top: 320px;
    left: 330px;
    right: 400px;
    font-size: 14px;
    color: #002e58;
}
p4 {
   position: absolute;
    left: 328px;
    font-size: 14px;
    color: #002e58;
    top: 399px;
}
.fulltime {
    position: absolute;
    left: 311px;
    top: 398px;
    width: 15px;
    height: 15px;
}
.contact {
  position: absolute;
    top: 434px;
    left: 316px;
    width: 8;
    height: 7;
}
p5 {
       position: absolute;
    top: 430px;
    font-size: 14px;
    color: #002e58;
    left: 328px;
}
.button {
  background-color: dodgerblue;
    position: absolute;
    top: 487px;
    left: 300;
    font-size: 16px;
    border-radius: 500px;
    padding: 10px;
}
h4 {
   position: absolute;
    top: 253px;
    left: 600;
    font-size: 20px;
    font-family: Times New Roman;
    color: #002e58;
    font-weight: bold;
}
p6 {
    position: absolute;
    top: 320;
    left: 600;
    right: 150;
    font-size: 15px;
    color: #002e58;
}
p7 {
    position: absolute;
    left: 600;
    top: 380;
    right: 150;
    font-size: 15px;
    color: #002e58;
}
p8 {
    position: absolute;
    left: 600;
    top: 440;
    right: 150;
    font-size: 15px;
    color: #002e58;
}
p9 {
    position: absolute;
    top: 600;
    left: 600;
    font-size: 15px;
    color: #002e58;
}
.date {
   position: absolute;
    top: 31px;
    left: 351px;
    width: 9;
    height: 9;
    opacity: 0.5;
}
mark {
    background-color: #a0d6b4;
    display: inline-block;
  color: black;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  font-size: 13px;
  border-radius: 5px;
}
.t {
 width: 15px;
    height: 15px;
}
.m {
 width: 10px;
    height: 7px;
}
.line  {
    width: 40%;
    position: relative;
    top: 3px;
    right: 206px;
    opacity: 0.5;
}
