body {
    margin: 0px;
}
.header-design {
    height: 50px;
    width: 100%;
    background-color: #006fdb;
}
.center {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.left-position {
    width: 25%;
    background-color: #f4f4f4;
    height: 558px;
}
.right-position {
    background-color: #ffffff;
    width: 80%;
    height: 558px;
}
.color {
    color: white;
}
.To-do {
    padding-left: 63px;
    display: inline-block;
    margin-top: 15px;
}
.search-box {
    margin-left: 24%;
    width: 31%;
    height: 66%;
    text-align: left;
    background-color: #c3dbf8;
    border: 1px #c3dbf8;
    border-radius: 3px;
}
.fa-search {
    color: blue;
}
.fa-gear {
    margin-left: 314px;
    font-size: 18px;
    color: whitesmoke;
}
.fa-question {
   padding-left: 27px;
   font-size: 19px;
   
   color: white;
}
.circle {
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    font: 12px Arial, sans-serif;
    padding: 12px;
    padding-bottom: 8px;
    padding-top: 10px;
    margin-left: 62px;
}
/* .material-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
} */
.bars {
    width: 35px;
    height: 5px;
    background-color: blue;
    margin: 6px 0;
}
ol {
    list-style-type: none;
    margin-top: 38px;
    padding-left: 37px;
}
.list-task{    
    margin-top: 9px;
    height: 29px;
}
.add-icon {

}
.fa-bars {
    color: #465efc;
    margin-left: 32px;
    display: inline-block;
    margin-top: 28px;
}
li i{
    font-size: 19px;
    opacity: 0.7;
    margin-right: 12px;
}
.material-icons {
    color:#3459c1;
}
.search-icon {
    transform: rotate(90deg);
}
