body {
    margin: 0px;
}
.header-design {
    height: 50px;
    width: 100%;
    background-color: #006fdb;
}
.center {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.left-position {
    width: 25%;
    background-color: #f4f4f4;
    height: 558px;
}
.right-position {
    background-color: #ffffff;
    width: 80%;
    height: 558px;
}
p {
    padding-left: 94%;
    color: #3e69e4;
}
p span{
    font-size: 16px;
    font-family: ShellFabricMDL2Icons;
}
p:before {
    content:' \21C5';
    line-height: 2.4rem;
    font-size:1.2rem;
}
.color {
    color: white;
}
.To-do {
    padding-left: 41px;
    display: inline-block;
    margin-top: 15px;
}
.search-box {
    margin-left: 24%;
    width: 31%;
    height: 66%;
    text-align: left;
    background-color: #c3dbf8;
    border: 1px #c3dbf8;
    border-radius: 3px;
    margin-top: 6px;
}
.fa-search {
    color: blue;
}
.fa-gear {
    margin-left: 314px;
    font-size: 18px;
    color: whitesmoke;
    opacity: 0.9;
}
.fa-question {
    padding-left: 21px;
    font-size: 19px;
    color: white;
    opacity: 2.9;
}
.circle {
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    font: 12px Arial, sans-serif;
    padding: 12px;
    padding-bottom: 8px;
    padding-top: 10px;
    margin-left: 11px;
}
.fa-plus {
    margin-left: 24px;
    margin-right: 15px;
    opacity: 0.5;
}
.bars {
    width: 35px;
    height: 5px;
    background-color: blue;
    margin: 6px 0;
}
ol {
    list-style-type: none;
    margin-top: 38px;
    padding-left: 26px;
}
h:before {
    content:' \2600';
    opacity: 0.5;
    margin-right: 4px;
}
.list-task{    
    margin-top: 9px;
    height: 29px;
}
.fa-bars {
    color: #465efc;
    margin-left: 32px;
    display: inline-block;
    margin-top: 28px;
}
li i{
    font-size: 19px;
    opacity: 0.5;
    margin-right: 12px;
}
.material-icons {
    color:#3459c1;
}
.search-icon {
    transform: rotate(90deg);
}
.fa-paper-plane-o {
    color: white;
    display: inline-block;
    padding-left: 13px;
    opacity: 0.8;
}
.iconify {
    padding-left: 11px;
    font-size: 22px;
    color: white;
    opacity: 0.9;
}
.fa-user-o {
    color: #5ca52d;
    opacity: 1;
}
