body {
    background-color: black;
}
.center{
    display:flex;
}
.page-size {
    border: 1px;
    margin-left: 270px;
    background-color: white;
    width: 57%;
    height: 108%;
}
.left-position {
    padding-left: 45px;
    width: 207px;
}
pre {
    font-size: 16;
    color: #002e58;
    font-family: 'Rubik', sans-serif;
    margin-bottom:0px;
}
.employee-role {
    margin-top: 1px;
    padding-left:12px;
    color: #002e58;
    font-size: 12;
}
.image {
    height: 100;
    margin-top: 21px;
    width: 100;
    background-color:#4bcafe;
    border-radius: 50%;
}
ul {
    list-style-type: none;
    padding-top: 27px;
    padding-left: 0px;
}
ul img {
    width: 13px;
}
ul li{
    font-size: 10px;
    color: #3D4F85;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    opacity: 0.7;
}
.button {
    background-color: #367cff;
    margin-top: 26px;
    font-size: 9px;
    border-radius: 72;
    color: white;
    padding: 10px;
    vertical-align: middle;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border-color: azure;
    width: 116px;
    height: 34px;
    border: none;
}
.right-position{
    padding-left: 30px;
    width: 377px;
    height: 659px;
 }
.summary {
    font-family: 'Rubik', sans-serif;
    color: #002e58;
    font-weight: bold;
    font-size: 20;
  }
.content {
    font-size: 12;
    color: #3D4F85;
    opacity: 0.7;
    height: 141px;
}
h {
    font-family: 'Rubik', sans-serif;
    color: #002e58;
    font-weight: bold;
    font-size: 20;  
}
ol {
    list-style-type: none;
    padding-left: 0px;
    height: 226px;
}
span {
    background-color: #d7ffe0;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    width: 55px;
    font-size: 11px;
    border-radius: 8px;
    margin-left: 99px;
}
.work-type {
    margin-left: 119px;
}
li {
    font-family: 'Rubik', sans-serif;
    color: #3D4F85;
    font-size: 12px;
    opacity: 0.7;
}
li img {
    width: 8px;
}
li p {
    font-size: 8px;
    opacity: 0.5;
}
.value {
    padding-left: 41px;
}
.design {
    display: inline-block;
}
.date {
    padding-left: 177px;
    opacity: 0.5;
    display: inline-block;
    padding-top: 9px;
}
.line {
    opacity: 0.5;
    width: 378px;
}
.date-location {
    padding-left: 128px;
}
.work-span {
    margin-left: 121px;
}
.place {
    padding-left: 3px;
}
.date-place {
    padding-left: 140px;
}
.date-field {
    padding-left: 109px;
    opacity: 0.5;
}
.horizontal-line {
    opacity: 0.5;
    margin-right: 42px;
}
.date-position {
    padding-left: 123px;
}