body {
    background-color: black;
}
.calculator {
    border: 1px;
    margin-left: 163px;
    background-color: white;
    width: 75%;
    height: 100%;
    background: linear-gradient(to right, #a36cbd, #e4947f);
}
.inner-design {
    border: none;
    background-color: black;
    margin-top: 109px;
    margin-left: 302px;
    display: inline-block;
    border-radius: 10px;
    width: 341px;
    height: 517px;
    border: none;
}
.button {
    height: 75px;
    border-width: thin;
    background-color: #f1f1f1;
}
.color {
    background-color: #875dd6;
}
.calc-button {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.calc-position {
    margin-top: 0;
}
.equal-position {
    margin-left: 176px;
    margin-top: -83px;
    width: 166px;
    height: 82px;
    background-color: #d43c83;
    border: none;
    border-bottom-right-radius: 14px;
}
.button-corner {
    border-bottom-left-radius: 15px;
}
.header-design {
    margin-top: 0px;
    height: 97px;
    background-color: black;
    width: 342px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    color: #94636d;
    text-align: right;
    font-size: 18px;
    border: none;
}
.answer {
    width: 342px;
    height: 48px;
    background-color: black;
    border: none;
    color:white;
    text-align: right;
    font-size: 25px;
}